img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Comic Sans MS";
    background-image: url(https://media1.giphy.com/media/aeIXnJex7xPEY/giphy.gif);
    background-size: 300px 100px;
    color: red;
}

